// Some custom styled elements that I made.
*.--simpl-row, *.--simpl-col {
  flex: 1;
  display: flex;
}

*.--simpl-row {
  flex-direction: row;
}

*.--simpl-col {
  flex-direction: column;
}

*.--simpl-button {
  border: none;
  font-size: 1rem;
  text-align: center;
  font-family: inherit;
  text-decoration: none;
  border-radius: .25rem;
  padding: .75rem 1.75rem;
  background-color: #EFEFEF;

  @include transition(padding .1s, box-shadow .1s);
  @include box-shadow(2px 2px 0 0 rgba(0, 0, 0, .25), inset 0 0 0 0 rgba(0, 0, 0, .25));

  @media (max-width: $small) {
    font-size: .9rem;
  }

  &:hover {
    opacity: 1;
    color: #404040;
    cursor: pointer;
    background-color: #E9E9E9;
    padding: calc(.75rem + 2px) calc(1.75rem - 2px) calc(.75rem - 2px) calc(1.75rem + 2px);

    @include box-shadow(0 0 0 0 rgba(0, 0, 0, .25), inset 2px 2px 0 0 rgba(0, 0, 0, .25));
  }
}

table.--simpl-table {
  display: flex;
  margin: .4rem 0 1rem;
  flex-direction: column;
  background-color: #FAFAFA;

  @include box-shadow(inset 2px 2px 0 0 rgba(0, 0, 0, .25));

  @media (max-width: $small) {
    font-size: .9rem;
  }

  > thead {
    font-weight: 600;
    margin-bottom: .2rem;
    background-color: #E7E7E7;

    @include box-shadow(inset 2px 2px 0 0 rgba(0, 0, 0, .25));
  }

  > thead, tbody {
    display: flex;
    flex-direction: column;

    > tr:nth-child(even) {
      background-color: #F7F7F7;

      @include box-shadow(inset 2px 0 0 0 rgba(0, 0, 0, .25));
    }

    > tr {
      display: flex;
      padding: .5rem 0;

      &.table-head {
        font-weight: 600;
      }

      > td {
        flex: 1;
        display: flex;
        padding: 0 1rem;
      }
    }
  }
}

*.--simpl-card {
  display: flex;
  padding: 3rem;
  margin: 3rem auto;
  border-radius: .5rem;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;

  @include box-shadow(2px 2px 0 0 rgba(0, 0, 0, .25));

  @media (max-width: $medium) {
    margin: 0;
    height: 100%;
    padding: 2rem;
    border-radius: unset;
    width: calc(100% - 3rem);
    background-color: #FAFAFA;
  }

  @media (max-width: $xsmall) {
    padding: 1rem;
    width: calc(100% - 2rem);
  }

  div.card-head {
    font-size: 2.5rem;
    text-align: center;
    margin: .5rem 0 1.5rem;

    @media (max-width: $small) {
      font-size: 2rem;
    }
  }
}

/*
This form template is based-of Bootstrap but made simpler and smarter!
It can be used to make fully modular forms without the need of columns and rows.
If you want to use another front-end library you should delete this file.
 */

// Form Styling
form.--simpl-form {
  > .--simpl-row {
    margin-bottom: 1rem;

    @media (max-width: $medium) {
      flex-direction: column;
    }
  }

  div.form-group {
    flex: 1;
    padding: 0 .5rem;
    margin-bottom: 1rem;

    span.required {
      color: #FF0000;
      display: inline-block;
      padding-left: .2rem;
    }

    span.password-warning {
      color: #FF0000;
      display: none;
      font-size: .9rem;
      float: right;
    }

    > label {
      display: inline-block;
      font-size: 1rem;
      margin-bottom: .4rem;

      @media (max-width: $small) {
        font-size: .9rem;
      }
    }

    div.input-group, div.area-group {
      display: flex;

      > * {
        border: none;
        display: flex;
        font-size: .9rem;
        font-family: inherit;

        @include box-shadow(inset 0 1px 0 0 rgba(0, 0, 0, .25));

        @media (max-width: $small) {
          font-size: .8rem;
        }
      }

      > input, textarea {
        flex: 1;
        position: relative;
        min-height: 1.5rem;
        padding: .4rem .7rem;
        background-color: #FAFAFA;
      }

      input.slider {
        appearance: none;
        -webkit-appearance: none;
        background-color: #D3D3D3;
        border-radius: .5rem;
        margin: .75rem 0;
        min-height: 0;
        outline: none;
        height: .6rem;
        opacity: 0.75;
        padding: 0;
        border: 0;

        &::-webkit-slider-thumb {
          cursor: pointer;
          border-radius: 50%;
          width: 1.4rem;
          height: 1.4rem;
          background-color: #6C757D;
          -webkit-appearance: none;

          &:hover, &:focus {
            background-color: #5A6268;
          }

          &:active {
            background-color: #5A6268;
          }
        }
      }

      input.br-both, textarea.br-both {
        border-radius: .25rem;
      }

      input.br-right, textarea.br-right {
        border-radius: 0 .25rem .25rem 0;
      }

      input.br-left, textarea.br-left {
        border-radius: .25rem 0 0 .25rem;
      }

      div.input-prepend, div.input-append {
        flex-shrink: 0;
        font-size: 1rem;
        align-items: center;
        padding: .4rem .7rem;
        justify-content: center;
        background-color: #EFEFEF;

        @media (max-width: $small) {
          font-size: .9rem;
        }

        > svg {
          width: 1.25rem;

          &.toggle-password {
            cursor: pointer;
          }
        }
      }

      div.input-prepend {
        border-radius: .25rem 0 0 .25rem;
      }

      div.input-append {
        border-radius: 0 .25rem .25rem 0;
      }
    }

    span.input-text {
      display: inline-block;
      font-size: .8rem;
      margin-top: .4rem;

      @media (max-width: $small) {
        font-size: .7rem;
      }
    }

    div.slider-text {
      display: flex;
      margin-top: .2rem;

      > * {
        flex-grow: 1;
        font-size: .8rem;
      }

      div.slider-left {
        text-align: left;
      }

      div.slider-value {
        text-align: center;
      }

      div.slider-right {
        text-align: right;
      }
    }
  }

  button.form-button {
    padding-right: 15%;
    padding-left: 15%;

    &:hover {
      padding-left: calc(15% + .1rem);
      padding-right: calc(15% - .1rem);
    }
  }
}

// Form Alerts
div.--simpl-alert {
  font-size: 1rem;
  margin: 0 .5rem 1rem;
  padding: 1rem 1.75rem;
  border-radius: .25rem;

  @include box-shadow(2px 2px 0 0 rgba(0, 0, 0, .25));

  &.success {
    color: #155724;
    background-color: #D4EDDA;
  }

  &.warning {
    color: #856404;
    background-color: #FFF3CD;
  }

  &.error {
    color: #721C24;
    background-color: #F8D7DA;
  }

  &.info {
    color: #0C5460;
    background-color: #D1ECF1;
  }
}